<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %>

<h2>Hero Name: <%= @hero1.name %>
<p>Hero Power: <%= @hero1.power %><br>Hero Biography: <%= @hero1.bio %></P>

<h2>Hero Name: <%= @hero2.name %>
<p>Hero Power: <%= @hero2.power %><br>Hero Biography: <%= @hero2.bio %></P>

<h2>Hero Name: <%= @hero3.name %>
<p>Hero Power: <%= @hero3.power %><br>Hero Biography: <%= @hero3.bio %></P>


  
